/*
.footer {
  position: absolute;
  bottom: 0;
  color:#fff;
}*/

.footer-btn {
  display: inline-block;
  width: 5rem;
  //float: left;
  height: 5rem;
  margin: .25rem;
  border-color: rgba(91, 29, 17, 1.0);
  border-width: 3px;
  border-style: solid;
  box-shadow: 0 4px 8px 0 rgba(91, 29, 17, 0.2), 0 6px 20px 0 rgba(91, 29, 17, 0.19);
}

.pagination{ display: table; margin: 0 auto; }
