<footer class="footer">
    <div class="container">

      <div class="row">
        <div class="col-sm col-xs footer-btn">
          <a routerLink="/home" routerLinkActive="active">
            <div class="home heroes-div" [inlineSVG]="'assets/dolmen.svg'" [setSVGAttributes]="_attrs"></div>
          </a>
        </div>
        <div class="col-sm col-xs footer-btn">
          <a routerLink="/missions" routerLinkActive="active">
            <div class="missions heroes-div" [inlineSVG]="'assets/crossed-swords.svg'" [setSVGAttributes]="_attrs"></div>
          </a>
        </div>
        <div class="col-sm col-xs footer-btn">
          <a routerLink="/heroes" routerLinkActive="active">
            <div class="heroes heroes-div" [inlineSVG]="'assets/visored-helm.svg'" [setSVGAttributes]="_attrs"></div>
          </a>
        </div>
      </div>
    </div>

</footer>
