<footer class="footer">
    <div class="pagination">

          <a routerLink="/home" routerLinkActive="active">
            <div class="home heroes-div footer-btn" [inlineSVG]="'assets/dolmen.svg'"></div>
          </a>

          <a routerLink="/missions" routerLinkActive="active">
            <div class="missions heroes-div footer-btn" [inlineSVG]="'assets/crossed-swords.svg'"></div>
          </a>

          <a routerLink="/heroes" routerLinkActive="active">
            <div class="heroes heroes-div footer-btn" [inlineSVG]="'assets/visored-helm.svg'"></div>
          </a>

    </div>

</footer>
