@import "~bootswatch/dist/cyborg/variables";

.table-full {
  background-color: $table-accent-bg;
}

.slot {
  display: inline-block;
  width: 5rem;
  height: 5rem;
  margin: .25rem;
  float: left;
  background-color: #1f1f1f;
  box-shadow: 0 4px 8px 0 rgba(91, 29, 17, 0.2), 0 6px 20px 0 rgba(91, 29, 17, 0.19);
}

.slot:hover {
  box-shadow: 0 4px 8px 0 rgba(235, 222, 194, 0.2), 0 6px 20px 0 rgba(235, 222, 194, 0.19);
}

.portrait {
  //display: inline-flex;
  width: 5rem;
  float: left;
  height: 5rem;
  margin: .25rem;
  border-color: rgba(91, 29, 17, 1.0);
  border-width: 3px;
  border-style: solid;
  box-shadow: 0 4px 8px 0 rgba(91, 29, 17, 0.2), 0 6px 20px 0 rgba(91, 29, 17, 0.19);
}

.portrait:hover {
  box-shadow: 0 4px 8px 0 rgba(235, 222, 194, 0.2), 0 6px 20px 0 rgba(235, 222, 194, 0.19);
}
