<main role="main" class="container" *ngIf="mission !== null">

  <h4>{{mission.name}}</h4>

  <table class="table table-full">
    <!-- <thead>
     <tr>
       <th class="label-table" scope="col">Id</th>
       <th class="label-table" scope="col">Name</th>
     </tr>
     </thead>-->
    <tbody>
    <tr>
      <th class="label-table" scope="row">Name</th>
      <td class="label-content-table">{{mission.name}}</td>
    </tr>
    <tr>
      <th class="label-table" scope="row">Difficulty</th>
      <td class="label-content-table">{{mission.difficulty}}</td>
    </tr>
    <tr>
      <th class="label-table" scope="row">Duration</th>
      <td class="label-content-table">{{mission.duration}}</td>
    </tr>
    <tr>
      <th class="label-table" scope="row">Expires</th>
      <td class="label-content-table">{{mission.expires}}</td>
    </tr>
    <tr>
      <td colspan="2">
        <ng-container *ngFor="let slot of slots;">
          <span *ngIf="slot == null"
                class="slot"
                [ngClass]="{'disabled': !editable}"
                [routerLink]="'/missions/' + mission.id + '/heroes'"></span>
          <img *ngIf="slot != null"
               class="portrait disabled"
               [ngClass]="{'disabled': !editable}"
               [src]="'../../assets/p' + slot + '_128x128.png'"
               [routerLink]="'/missions/' + mission.id + '/heroes'">
        </ng-container>
      </td>
    </tr>
    <tr *ngIf="mission.state === MissionState.Finished">
      <td colspan="2">
        Reward
      </td>
    </tr>
    </tbody>
  </table>

  <button *ngIf="editable" type="button" class="btn btn-warning" (click)="start()">Start</button>

</main>

<app-footer></app-footer>
