<main role="main" class="container">

<h1>Heroes</h1>

<div class="scroll">

<table class="table table-striped" *ngIf="heroes !== null">
  <thead>
  <tr>
    <th class="label-table" scope="col">Id</th>
    <th class="label-table" scope="col"></th>
    <th class="label-table" scope="col">Name</th>
    <th class="label-table" scope="col">Strength</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let hero of heroes"
      (click)="selectionMode ? select(hero.id) : ''"
      [ngClass]="hero.selected? 'selected' : ''">
    <ng-container *ngIf="!selectionMode || hero.missionId === null">
      <th class="label-content-table" scope="row">{{hero.id}}</th>
      <td class="label-content-table"><img class="portrait" [src]="'./assets/p' + hero.id + '_128x128.png'"></td>
      <td class="label-content-table">{{hero.name}}</td>
      <td class="label-content-table">{{hero.strength}}</td>
    </ng-container>
  </tr>
  </tbody>
</table>

<button *ngIf="selectionMode" type="button" class="btn btn-warning" (click)="ok()">Ok</button>

</div>

</main>

<app-footer></app-footer>
