<main role="main" class="container">

<h1>Missions</h1>

<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link"
       [ngClass]="{'active': state == 'Available'}"
       [routerLink]="['/missions']"
       [queryParams]="{ state: 'Available'}">Available</a>
  </li>
  <li class="nav-item">
    <a class="nav-link"
       [ngClass]="{'active': state == 'Started'}"
       [routerLink]="['/missions']"
       [queryParams]="{ state: 'Started'}">Running</a>
  </li>
</ul>

<table class="table table-striped" *ngIf="missions !== null">
  <thead>
  <tr>
    <th class="label-table" scope="col">Name</th>
    <th class="label-table" scope="col">Difficulty</th>
    <th class="label-table" scope="col">Duration</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let mission of missions" [routerLink]="['/missions', mission.id]">
    <td class="label-content-table">{{mission.name}}</td>
    <td class="label-content-table">{{mission.difficulty}}</td>
    <td class="label-content-table">{{mission.duration}}</td>
  </tr>
  </tbody>
</table>

</main>

<app-footer></app-footer>
