.modal-error {
  background-color: #6a0000;
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #f8b700;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
